@media(max-width: 1440px) {

    header {
        padding: 26px 120px;
    }

    .div_eartart {
        flex-direction: column;
    }

    ul {
        font-size: 1rem;
    }
}


@media(max-width: 825px) {

    .sec1 {
        width: inherit;
    }

    .div_community {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .div_half_eight {
        flex-direction: column;
        gap: 30px;
    }

    .div_four_pots {
        width: 100%;
    }

    .and8 {
        display: none;
    }

    footer {
        flex-direction: column;
        gap: 40px;
    }

}

@media(max-width: 725px) {

    /* nav{
    display: none;
} */

    .sec1 {
        width: inherit;

    }


    .div_pots {
        flex-direction: column;
    }

    .last_pro {
        font-size: 2rem;
    }

    .photo_price_sec3_sec3 {
        flex-direction: column;

    }

    .photo_price_sec3_sec3::before,
    .photo_price_sec3_sec3::after {
        display: none;
    }

    .photo_price_sec3 {
        width: 50%;

    }

    footer {
        flex-direction: column;
        gap: 40px;
    }
}


@media(max-width: 725px) {

    .sec1 {
        background-image: url("../img/Rectangle\ 106\ \(1\).png");
        width: 100%;
        height: 100%;
    }

    .div_half_eight {
        flex-direction: column;
        gap: 30px;
    }

    .div_four_pots {
        width: 100%;
    }

    .and8 {
        display: none;
    }

    footer {
        align-items: center;
        /* padding: 32px 50px 58px 50px; */
        gap: 50px;
    }

    .map{
        font-size: .9rem;
    }

}